<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>



  <ul class="list-group">
    <li class="list-group-item">
      <div class="card-body">
        What is the first task in the Hunt? Write your description for the players here...
      </div>
      <textarea class="form-control form-control-lg" type="text" placeholder=""></textarea>
    </li>
  </ul>



  <button type="button" class="btn btn-primary btn-lg btn-block" (click)="clickSave()">Add task</button>

<h1>{{name}}</h1>
<input type = "button" value = "save" (click)="clickSave()">
</body>
<script>

</script>
</html>
