<div class="flex-row">
  <div class="flex-1">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Start New Hunt:</h1>
          <h3 class="card-text">Create a Scavenger Hunt as a host -</h3>
          <a routerLink="/start-new-hunt-component" href="#" class="btn btn-primary btn-lg">Click Here</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title">Join Existing Hunt:</h1>
          <h3 class="card-text">Join a hunt as a player -</h3>
          <a href="#" class="btn btn-primary btn-lg">Click Here</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
