<div class="flex-row">
  <div class="flex-1">
    <form [formGroup]="addHuntForm" (ngSubmit)="submitForm();">
      <mat-card class="add-hunt-card">
        <mat-card-header>
          <mat-card-title class="add-hunt-title">New Hunt</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="flex-col">
            <mat-form-field>
              <mat-label>Host Name</mat-label>
              <input matInput formControlName="hostid"
                required>
              @if (formControlHasError('hostid')) {
                <mat-error data-test="hostid">
                  {{getErrorMessage('hostid')}}
                </mat-error>
              }
            </mat-form-field>



            <mat-form-field>
              <mat-label>Title</mat-label>
              <input matInput formControlName="title"
                required>
              @if (formControlHasError('title')) {
                <mat-error data-test="title">
                  {{getErrorMessage('title')}}
                </mat-error>
              }
            </mat-form-field>



            <mat-form-field>
              <mat-label>Description</mat-label>
              <input matInput formControlName="description"
                required>
              @if (formControlHasError('description')) {
                <mat-error data-test="description">
                  {{getErrorMessage('description')}}
                </mat-error>
              }
            </mat-form-field>

            <mat-form-field>
              <mat-label>Task</mat-label>
              <input matInput formControlName="task"
                required>
              <!-- @if (formControlHasError('task')) {
                <mat-error data-test="task">
                  {{getErrorMessage('task')}}
                </mat-error>
              } -->
            </mat-form-field>

            <div style="padding-top: 10px">
              <button (click)="addTextarea()">Add Task</button>
              <button (click)="removeTextArea(textAreasList)">Remove Task</button>
                  <mat-form-field *ngFor="let textarea of textAreasList; let textarea_index= index">
                      <mat-label>Task</mat-label>
                      <input matInput formControlName="description"
                        required>
                  </mat-form-field>
            </div>








          </div>

        </mat-card-content>
        <mat-card-actions align="end">
          <button
            mat-button
            type="button"
            color="primary"
            [disabled]="!addHuntForm.valid"
            type="submit"
            data-test="confirmAddHuntButton"
            >
            ADD HUNT
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
