.flex-row {
  background-color:beige;

  min-width: 80%;


}


.card-header {
  text-align: center;
  font-weight: bolder;
  border: 2px solid black;
  margin-bottom: 3%;
  background-color: beige;
  border-radius: 5px;
  padding-top: 1%

}



